.navbar {
  background-color: #4890f0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
    width: 180px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-weight: bold;
}

.book-btn {
  background-color: #ff3d00;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}