.how-it-works {
  /* background-image: url('../Assets/RBG\ CAR\ LOGO.png');  */
  background-size: cover;
  background-color: #fbfafa;
  background-position: center;
  padding: 60px 20px;
  color: rgb(6, 6, 6);
  text-align: center;
  position: relative;
}

.how-bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 20px;
  border-radius: 12px;
}

.how-it-works h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.how-it-works p {
  font-size: 18px;
  margin-bottom: 40px;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.step-card {
  background-color: #040404;
  padding: 30px 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.step-card:hover {
  transform: translateY(-8px);
}

.step-card h3 {
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.step-card h4 {
  font-size: 20px;
  margin: 10px 0;
  color: #fbfbfb;
}

.step-card p {
  font-size: 14px;
  color: #fcfbfb;
}

/* Responsive for smaller devices */
@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step-card {
    width: 100%;
    max-width: 320px;
  }
}